---
// components/ArticleList.astro
const { items = [] } = Astro.props;
---

<section id="one" class="tiles">
  {items.map((item) => {
    const titleBlock = item.title;
    const descBlock  = item.description;

    const title = titleBlock?.data?.content ?? '';
    const blurb = descBlock?.data?.content ?? '';

    const imgBlock = item.image;
    const imgSrc   = imgBlock?.data?.src;
    const imgAlt   = imgBlock?.data?.alt ?? title;

    return (
      <article>
        {imgSrc && (
          <span class="image">
            <img src={imgSrc} alt={imgAlt} />
          </span>
        )}

        <header class="major">
          <h3>
            <a href="#" class="link">{title}</a>
          </h3>
          <p>{blurb}</p>
        </header>
      </article>
    );
  })}
</section>
