---
// Astro will bundle and optimize this CSS for you automatically
// This also works for preprocessor files like .scss, .styl, etc.
import '../assets/css/main.css';
import NavMenu from '../components/NavMenu.astro';
    // import '../assets/js/main.js';
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body class="is-preload">
        <div id="wrapper">
            <!-- Header -->
            <header id="header" class="alt">
                <a href="index.html" class="logo"><strong>Forty</strong> <span>by HTML5 UP</span></a>
                <NavMenu />
            </header>

            <slot />
        </div>
        <script type="module" src="/assets/js/main.js"></script>
    </body>
</html>
