---
import { safeFetchRoutes } from "../utils/api/fetchRoutes";
import '../assets/css/main.css';

const currentPath = (Astro.url.pathname.replace(/\/+$/, "") || "/");

const routes = await safeFetchRoutes();
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Astro Demo</title>
  </head>
  <body>
    <header>
      <nav>
        {routes.map(({ title, path }) => (
          <span class={currentPath === path ? "active" : ""}>
            <a href={path}>{title}</a>
          </span>
        ))}
      </nav>
    </header>

    <main>
      <slot />
    </main>

    <footer>
      <small>Astro SSG demo</small>
    </footer>
  </body>
</html>
